@import "bootstrap/dist/css/bootstrap.min.css";
@tailwind base;
@tailwind components;
@tailwind utilities;


body{
font-family: 'Times New Roman', Times, serif;
}

.pageinsc {
    max-width: 100%;
    max-width: 900px; /* ou 80vw si tu veux plus fluide */
    padding: 2rem;
    text-align: center;
    border-left: 10px solid bisque;
}
@media (max-width: 768px) {
    .pageinsc {
        border-left: none;
        border-top: 5px solid bisque;
        padding: 1rem;
    }
}

.role-section{
margin: 5vh auto;
}

